@charset utf-8;
/* CSS Document */
/***************************************
*	Version 		15.00.01
*	Author			wuwg
*  	CreateTime      15.04.27
 *	UpdateTime		15.04.27
* *************************************************/
 
 
/**************************************
*name     		 layout
*status   		 start
*CreatTime 		 15.04.27
**************************************/
.fd-contain {
		background-color:#f5f5f5;
		min-width:1000px;
		overflow:hidden;
	}
.fd-content ,
.fd-header,
.fd-content,
.fd-footer {
		width:100%;;
}
.fd-header{
	height: 35px;
	background-color:#c23939;
    color: #f5f5f5;
    /*
    overflow: hidden;
    */
}
.fd-main {
    width: 1000px;
    margin: 0 auto;
}
.fd-content{
    margin-top: 14px;
}
.fd-footer{
	
}
.fd-header-in ,
.fd_main {
    margin: 0 auto;
    width:1000px;
}
/**---------------- head start  --------------------------*/
.fd-header-in {
    position: relative;
    font: 13px/35px "microsoft yahei";
}
.fd-login {
    width: 100%;
    height: 100%;
}
.fd-time {
    float: left;

}
.fd-login > div {
    float: right;
}
.fd-login-btn {
    padding: 4px 13px;
    margin-right: 25px;
    border: 1px solid #9c2828;
    border-radius: 3px;
    background-color: #9c2828;
}
.fd-tool {
    position: relative;
    display: inline-block;
    margin-right: 19px;
    padding-right: 24px;
    background: url("../images/tool-icon.png") no-repeat right center;
}
.fd-tool:hover {
    text-decoration: none;
}
.fd-tool-con {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    width: 773px;
    height: 324px;
    background-color: #c23939;
    z-index: 10;
}
.fd-collect {
    padding-left: 25px;
    margin-right: 19px;
    background: url("../images/collect.png") no-repeat left center;
}
.fd-set {
    margin-right: 4px;
}

/*--------------------  nav start   --------------------*/
.fd-nav-title {
    width: 100%;
    height: 96px;
    line-height: 96px;
    box-shadow: 0px 1px 3px #d3d3d3;
}
.fd-title-in {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.fd-title-in:after {
    content:'.';
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}
.fd-nav-layout {
    width: 100%;
    height: 473px;
    border: 1px solid #d3d3d3\0;
    box-shadow: 0px 1px 3px #d3d3d3;
    background-color: #fff;
}
.fd-logo {
    float: left;
    width: 341px;
    height: 96px;
    background: url("../images/tilte-logo.png") no-repeat center;
}
.fd-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 69px;
}
.fd-nav > li {
    float: left;
    height: 100%;
}
.fd-nav a {
    display: inline-block;
    height: 63px;
    padding: 0 13px;
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #23272b;
}
.fd-nav a:hover {
    color: #d94d4c;
    text-decoration: none;
}
.fd-nav .select {
    color: #d94d4c;
    border-bottom: 6px solid #d94d4c;
}
.fd-nav-item01 {
    background: url("../images/icon-01.png") no-repeat top center;
}
.fd-nav-item02 {
    background: url("../images/icon-02.png") no-repeat top center;
}
.fd-nav-item03 {
    background: url("../images/icon-03.png") no-repeat top center;
}
.fd-nav-item04 {
    background: url("../images/icon-04.png") no-repeat top center;
}
.fd-nav-item05 {
    background: url("../images/icon-05.png") no-repeat top center;
}
.fd-nav-item06 {
    background: url("../images/icon-06.png") no-repeat top center;
}
.fd-nav-item07 {
    background: url("../images/icon-07.png") no-repeat top center;
}
.fd-nav-con {
    width: 1000px;
    margin: 0 auto;
}
.fd-nav-con > ul {
    width: 100%;
    height: 376px;
}
/*--------------------  section start   --------------------*/
.fd-item-01 {
    padding: 9px 9px 14px 9px;
    width: 98.2%;
    height: 607px;
    border: 1px solid #ededed;
    background-color: #fff;
}

.fd-layer-01 {
    width: 169px;
    float: left;
    height: 100%;
}
.fd-layer-02 {
    float: left;
    width: auto;
    height: 100%;
}
.fd-layer-03 {
    width: 172px;
    float: right;
    height: 100%;
    background: #f2f2f2;
}
.fd-data-area > li {
    float: left;
    margin:0 4px 4px 0;
}
.fd-data-area a {
    display: inline-block;
    width: 70px;
    height: 29px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font: 14px/29px "microsoft yahei";
    color: #06090c;
    text-align: center;
}
.fd-data-area a:hover {
    border: 1px solid #d94d4c;
    text-decoration: none;
}
.fd-data-area .select {
    color: #fff;
    background-color: #d94d4c;
}
.fd-layer-03 > h3 {
    margin: 5px 4px 20px 4px;
    height: 41px;
}
.fd-date-layer {
    float: left;
    display: inline-block;
    width: 72px;
    height: 39px;
    border: 2px solid #ce3d44;
    background-color: #ce3d44;
}
.fd-date-layer .fd-date {
    float: left;
    width: 37px;
    height: 39px;
    text-align: center;
    color: #fff;
}
.fd-date-layer .fd-day {
    float: right;
    width: 35px;
    height: 39px;
    font: 26px/39px "microsoft yahei";
    text-align: center;
    color: #ce3d44;
    background-color: #fff;
}
.fd-year {
    font: 13px/20px "microsoft yahei";
}
.fd-month {
    font: 20px/22px "microsoft yahei";
}
.fd-title {
    float: left;
    display: inline-block;
    margin-left: 5px;
    height: 100%;
    font: 18px/41px "microsoft yahei";
    color: #000;
}
.fd-text-list {
    margin: 0 9px 10px 14px;
}
.fd-text-list > li {
    margin-bottom: 45px;
}
.fd-text-list p {
    font: 14px/22px "microsoft yahei";
    color: #080c11;
}
.fd-text-list .fd-date {
    float: right;
    font: 12px/24px "microsoft yahei";
    color: #7e8185;
}
.fd-h3-layer {
    width: 626px;
    height: 37px;
    border-bottom: 1px solid #e3e1e1;
}
.fd-module-title {
    display: inline-block;
    padding-left: 14px;
    width: 85px;
    height: 34px;
    border-bottom: 4px solid #d94d4c;
    background: url("../images/module-title-bg.png") no-repeat 2px center;
    font: 18px/34px "microsoft yahei";
    color: #000;
}
.fd-item-02 .fd-module-title {
    border-bottom: 0;
}
.fd-module-con {
    width: 626px;
    margin: 19px 12px 20px 0;
}
.fd-module-con:after {
    content:'.';
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}
.fd-img-layout {
    float: left;
    width: 241px;
}
.fd-img-layout >img {
    width: 241px;
    height: 150px;
}
.fd-img-explain {
    display: block;
    width: 221px;
    height: 48px;
    padding: 8px 9px;
    margin-top: 4px;
    border: 1px solid #e4e3e3;
    border-radius: 2px;
    font: 14px/24px "microsoft yahei";
    color: #080c11;
    background-color: #f2f2f2;
}
.fd-list-layout {
    float: left;
    margin-left: 24px;
    width: 342px;
}
.fd-list-item > span {
    text-align: left;
    font: 16px/25.99px "microsoft yahei";
    color: #d94d4c;
}
.fd-list-item > a {
    margin-left: 5px;
    font: 16px/25.99px "microsoft yahei";
    color: #080c11;
}
.fd-list-item > p {
    padding: 13px 0 11px;
    font: 14px/24px "microsoft yahei";
    color: #253341;
}
.fd-list-item > a:hover {
    text-decoration: none;
}
.fd-sub-nav:after {
    content:'.';
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}
.fd-sub-nav > li {
    float: left;
    margin-right: 6px;
}
.fd-sub-nav a {
    display: inline-block;
    width: 96px;
    height: 34px;
    border: 1px solid #ccc;
    font: 16px/34px "microsoft yahei";
    color: #343b44;
    text-align: center;
}
.fd-sub-nav a:hover {
    border: 1px solid #d94d4c;
    text-decoration: none;
}
.fd-sub-nav .select {
    border: 1px solid #d94d4c;
    background-color: #d94d4c;
    color: #fff;
}
.fd-sub-con {
    margin-top: 20px;
}
.fd-data-list-01 {
    float: left;

}
.fd-data-list-02 {
    float: left;
    border-left: 1px solid #e3e1e1;
}
.fd-data-list-01 a,
.fd-data-list-02 a {
    font: 14px/38px "microsoft yahei";
    color: #0b1016;
}
.fd-data-list-01 a {
    margin-left: 7px;
    padding-right: 13px;
}
.fd-data-list-02 a {
    margin-left: 13px;
}
.fd-data-list-01 span {
    display: inline-block;
    width: 69px;
    height: 19px;
    border: 1px solid #e4393c;
    font: 12px/19px "microsoft yahei";
    color: #e4393c;
    text-align: center;
}
.fd-item-02 {
    margin-top: 14px;
    padding: 19px 12px 19px;
    width: 97.6%;
    height: 317px;
    border: 1px solid #ededed;
    border-top: 4px solid #d94d4c;
    background-color: #fff;
}


.fd-item-02 .fd-layer {
    margin-top: 23px;
}
.fd-data-list {
    float: left;
    width: 280px;
}
.fd-data-list > ul {
    width: 212px;
    margin: 0 auto;
}
.fd-data-list >h4 {
    font: 20px/22px "microsoft yahei";
    color: #253341;
    text-align: center;
}
.border-line {
    border-right: 1px solid #e3e1e1;
}
.fd-list-li {
    margin-bottom: 45px;
}
.fd-list-li > a {
    margin-left: ;
    font: 13px/22px "microsoft yahei";
    color: #253341;
}
.fd-list-date {
    font: 14px/22px "microsoft yahei";
    color: #d94d4c;
}
/*--------------------  footer  --------------------*/
.fd-footer-in {
    margin: 14px auto 30px;
    width:1000px;
}
.fd-footer-in {
    border: 1px solid #e9e9e9;
    background-color: #fff;
}
.fd-link {
    width: 98%;
    height: 106px;
    margin: 0 auto;
    border-bottom: 1px solid #e9e9e9;
}
.fd-right {
    width: 98%;
    height: 65px;
    margin: 0 auto;
}
/*----------------  2    ---------------- */
/*------------   3 ------------*/
/*--------   4 -------- */
/*----  5 ----*/
/*6 */


/**************************************
*name     		 theme
*status    		 end
*CreatTime 		 15.04.27
**************************************/


